.nav {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  background-color: #f1f4ff;
  margin-bottom: 32px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
